<div id="sidebar">
    <div class="text-center text-white">
      <h4>Dashboard</h4>
    </div>
    <hr class="text-white">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-utensils"></i> Menu
        </a>
      </li>
    </ul>
  </div>